@import 'normalize.css';


:root {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 90%
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

.left-item-nav{
    display: flex;
    margin-left: 20px;

}



