.board {
    width: 20%;
    margin-left: 5px;
    align-items: center;
    .list-item {
        display: flex;
        justify-content: space-between;
        border: 1px solid #ccc;
        max-width: 85%;
        padding: 9px 16px;
        font-size: 13px;
        font-weight: 700;
        box-shadow: 0px 0px 1px 1px #ebe7e7;
        cursor: pointer;
    }

    p {
        margin: 3px 0;
        border-radius: 5px;
        word-wrap: break-word;
    }
    .back-log {
        background-color: rgb(239, 248, 248);
        width: 20%;
        text-align: center;
    }
    .to-do {
        background-color: rgb(205, 227, 247);
        width: 20%;
        text-align: center;
    }
    .in-progress {
        background-color: rgb(236, 236, 174);
        width: 30%;
        text-align: center;
    }
    .done {
        background-color: rgb(196, 241, 184);
        width: 20%;
        text-align: center;
    }
}
